
<div class="parents">
    <thumbnail-owner class="mother" *ngIf="isLoaded && owner.mother !== 0" [id]="owner.mother" [owners]="owners"></thumbnail-owner>
    <thumbnail-owner class="father" *ngIf="isLoaded && owner.father !== 0" [id]="owner.father" [owners]="owners"></thumbnail-owner>
</div>

<div *ngIf="isLoaded" class="brotherhood">
    <div class="thumbnail" *ngFor="let brother of brothers" id="tn_owner_{{brother.id}}">
        nom: {{brother.lastname}} {{brother.firstname}}
    </div>
</div>
        
<style>
.brotherhood {
    clear: both;
}

.thumbnail {
    width: 100px;
    height: 100px;
    border: solid grey 1px;
    color: red;
    float: left;
    margin-top: 20px;
}

.mother, .father {
    float: left;
}

.father {
    margin-left: 10px;
}
</style>

