<ion-view view-title="Nouvelle médaille" cache-view="false">
    <ion-content scrollbar-y="false">
        <button class="button button-block button-stable icon-left ion-camera" on-tap="takePhoto()">Capture Photo</button>
        <img style="display:none;max-width:50%;" id="smallImage" />
        <textarea ng-model="newMedal.image" style="display:none"></textarea>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nom</span>
            <input type="text" ng-model="newMedal.name" />
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Possesseur</span>
            <select ng-model="newMedal.selectOwner" class="form-control" ng-options="(owner.lastname + ' ' + owner.firstname) for owner in owners"></select>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <textarea  ng-model="newMedal.description" ></textarea>
        </label>

        <button class="button button-block button-stable icon-left ion-checkmark-round" on-tap="save()">Enregistrer</button>
    </ion-content>
</ion-view>



