<ion-view view-title="Personnes" cache-view="false">
    <ion-content scrollbar-y="false">

        <person personid="3"></person>

        <!--<div ng-app="app" ng-controller='AppCtrl'>
            <script type="text/ng-template" id="categoryTree">
                {{ owner.lastname }} {{owner.firstname}}
                <ul ng-if="owner.father">
                    <li ng-repeat="category in owner.father" ng-include="'categoryTree'">
                    </li>
                </ul>
                <ul ng-if="owner.mother">
                    <li ng-repeat="category in owner.mother" ng-include="'categoryTree'">
                    </li>
                </ul>
            </script>
            <ul>
                <li ng-repeat="category in owner" ng-include="'categoryTree'"></li>
            </ul>
        </div>-->

    </ion-content>
</ion-view>