<ion-view view-title="Personnes" cache-view="false">
    <ion-content scrollbar-y="false">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="owner in owners" ui-sref="app.medalListByOwner({ownerId: owner.id})">
                {{owner.lastname}} {{owner.firstname}}
                <ion-option-button class="icon ion-edit"
                                   ui-sref='app.addOwnerId({ownerId: owner.id})'>
                </ion-option-button>
                <ion-option-button class="icon ion-trash-a"
                                   ng-click="deleteOwner({{owner.id}});">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>