<ion-header>
    <ion-navbar>
        <ion-title>
            Add Medal
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list ng-if="medal">
        <ion-item>
            <ion-slides pager>

                <ion-slide *ngFor="let picture of pictures">
                    <img style="display:block;max-width:50%;" src="data:image/jpeg;base64,{{picture}}" />
                </ion-slide>
            
            </ion-slides>
        </ion-item>

        <ion-item>
            <button ion-button block on-tap="takePicture()">
                    <ion-icon name="camera"></ion-icon>
                    Prendre une photo
                </button>
        </ion-item>

        <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-input type="text" [(ngModel)]="medal.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Détenteur</ion-label>
            <ion-select [(ngModel)]="medal.ownerId">
                <ion-option *ngFor="let owner of owners" [value]="owner.id">{{owner.lastname}} {{owner.firstname}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>Description</ion-label>
            <ion-textarea type="text" [(ngModel)]="medal.description"></ion-textarea>
        </ion-item>

        <ion-item>
            <button ion-button block on-tap="save()">
                <ion-icon name="checkmark"></ion-icon>
                Enregistrer
            </button>
        </ion-item>
    </ion-list>
</ion-content>