<ion-header>
  <ion-navbar>
    <ion-title>
      Medal
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <button ion-button block on-tap="takePhoto()">
              <ion-icon name="camera"></ion-icon>
              Prendre une photo
          </button>
      </ion-item>
      <!-- <button class="button button-block button-stable icon-left ion-camera" on-tap="takePhoto()">Capture Photo</button>
    <img style="display:none;max-width:50%;" id="smallImage" />
    <textarea ng-model="newMedal.image" style="display:none"></textarea> -->
      <ion-item>
          <ion-label floating>Title</ion-label>
          <ion-input type="text" ng-model="newMedal.title"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Détenteur</ion-label>
          <ion-select ng-model="newMedal.selectOwner" ng-options="(owner.lastname + ' ' + owner.firstname) for owner in owners">
          </ion-select>
      </ion-item>
      
      <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-textarea type="text" ng-model="newMedal.description"></ion-textarea>
      </ion-item>

      <ion-item>
          <button ion-button block on-tap="save()">
              <ion-icon name="checkmark"></ion-icon>
              Enregistrer
          </button>
      </ion-item>
  </ion-list>
</ion-content>
