<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="save()">
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Add Person</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>Ajouter une personne</h2>

    <ion-list>
        <ion-item>
            <ion-label floating>Nom {{owner.id}}</ion-label>
            <ion-input type="text" [(ngModel)]="owner.lastname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Prénom</ion-label>
            <ion-input type="text" [(ngModel)]="owner.firstname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Description</ion-label>
            <ion-textarea type="text" [(ngModel)]="owner.description"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label floating>Genre</ion-label>
            <ion-select [(ngModel)]="owner.gender">
                <ion-option value="H">Homme</ion-option>
                <ion-option value="F">Femme</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Père</ion-label>
            <ion-select [(ngModel)]="owner.father">
                <ion-option *ngFor="let father of fathers" [value]="father.id">{{father.lastname}} {{father.firstname}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Mère</ion-label>
            <ion-select [(ngModel)]="owner.mother">
                <ion-option *ngFor="let mother of mothers" [value]="mother.id">{{mother.lastname}} {{mother.firstname}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>